[defaults]
any_errors_fatal = True
deprecation_warnings = False
display_skipped_hosts = False
force_color = True
interpreter_python = auto_silent
inventory = ./inventory
log_path = ./.ansible-run/ansible.log
log_verbosity = 1
result_format = yaml
