**/*.bak
**/*.log
**/*.tmp
**/__pycache__
**/*secret*
.ansible-collection-build
.bash-unit-test
.build
.coverage
.data
.dotenv
.gitlab-ci-local
.helm-*
.image-*
.pytest_cache
.release
.venv
artifacts
images
dist
tfplan.txt
version.env
